Exercise 2: Create markdown cell with title of the notebook.
    
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

In [ ]:
# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In [ ]:
*In this notebook, Data Science Tools and Ecosystem are summarized.*

Exercise 4 - Create a markdown cell to list data science languages

In [ ]:
*Some of the popular languages that Data Scientists use are:*
    
    1. Python
    
    2. SQL
    
    3. R

Exercise 5 - Create a markdown cell to list data science libraries

In [ ]:
*Some of the commonly used libraries used by Data Scientists include:*
    
    - Pandas
    
    - Numpy
    
    - Caret

Exercise 6 - Create a markdown cell with a table of Data Science tools

In [ ]:
| Data Science Tools|
|-------------------|
| Jupyter Notebook|
| Rstudio|
| VS Code |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

__This a simple arithmetic expression to mutiply then add integers__:

In [1]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60

y = 200 # 200 minutes
x = y/60 # x an hours
print(x)

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

__Objectives:__

In [ ]:
- Create a Jupyter Notebook

- Insert code and markdown cells

- Share your notebook through GitHub

Exercise 11 - Create a markdown cell to indicate the Author's name

In [ ]:
## Author
Kofivi Mawouko YENA